html {
  box-sizing: border-box;
}

:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-background: #2f303a;
}

section {
  outline: 3px dotted blue;
  margin-bottom: 94px;
}

.container {
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: dotted violet;
  text-align: center;
  
}

.pad {
  padding-top: 94px;
  padding-bottom: 94px;
}
.no-margin {
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.block {
  margin-left: 30px;
}
.just-cont {
  
  justify-content: space-between;

}

.around {
  justify-content: space-evenly;
}
.no-mr {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.2;
}
.black-logo {
  color: var(--secondary-color);
}
.nav-text.interactive.current {
  color: var(--accent-color);
}
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.interactive:hover,
.interactive:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
  color: var(--secondary-color);
}
.nav-text {
  color: var(--secondary-color);
  letter-spacing: 0.02em;
  margin-left: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-text:first-child {
  margin-left: 85px;
}
.adress {
  margin-left: auto;
}

.black-text {
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}

.black-item {
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

button {
  margin: 0;
  padding: 0;
}

.e-mail-address {
  color: var(--main-color);
  font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.mail-button {
  display: inline-flex;
  align-items: center;
  border-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--white-color);text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
}

.mail-button-icon {
  height: 11.2px;
  width: 16px;
  margin-right: 10px;
  fill: var(--main-color);
}

.mail-button:hover {
  color: var(--accent-color);
}

.mail-button:hover .e-mail-address {
  color: var(--accent-color);
}
.mail-button:hover .mail-button-icon {
  fill: var(--accent-color);
}

.phone-icon {
  height: 15px;
  width: 10px;
  margin-right: 10px;
  fill: var(--main-color);
}
.mail-button:hover .phone-icon {
  fill: var(--accent-color);
}

.link-text {
  font-weight: 700;
  font-size: 18px;
  color: var(--secondary-color);
}

.overlay {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)),
    url(../img/images/Header\ img.jpg);
  height: 600px;
  max-width: 1600px;
  margin-left: auto; 
  margin-right: auto;
  
}
.hero-title {
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);

  padding: 200px 252px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.hero-order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-bottom: 200px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-title {
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-color);
}
.paragraph {
  font-size: 14px;
  line-height: 24px;
  color: var(--main-color);
}
h2 {
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
h3 {
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 16px;
  font-style: 400px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.team-background {
  background-color: #F5F4FA;
}

.white-background {
  background-color: var(--white-color);
  box-shadow: 
    0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.border {
  border: 1px solid #EEEEEE
}

.border:hover,
.border:focus {
  box-shadow: 
  1px 4px 6px rgba(0, 0, 0, 0.16), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  0px 1px 1px rgba(0, 0, 0, 0.12);
}

.footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
}
.bgcolor {
  background-color: #2f303a;
  text-align: center;
}
.button {
  font-family: inherit;
  display: inline-block;
  border-radius: 4px;
}


.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  padding: 10px 32px;
}
.button.secondry {
  color: var(--white-color);
  background-color: var(--footer-background);
  font-weight: 400;
  font-size: 16px;
}
.button.nav {
  color: var(--secondary-color);
  background-color: #f5f4fa;

  padding: 6px 22px;
  border: none;
}

.button-client {
  
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  background-color: var(--white-color);
  cursor: pointer;
}

.button-client:hover,
.button-client:focus {
  border-color: var(--accent-color);
}

.button-icon-one {
  width: 44.27px;
  height: 49.23px;
  fill: #AFB1B8;
}
.button-client:hover .button-icon-one {
  fill: var(--accent-color);
  
}

.button-icon-two {
  width: 40px;
height: 52px;
fill: #AFB1B8;
}

.button-client:hover .button-icon-two {
  fill: var(--accent-color);
}

.button-icon-three {
  width: 41px;
  height: 42.6px;
  fill: #AFB1B8;
}

.button-client:hover .button-icon-three {
  fill: var(--accent-color);
}

.button-icon-four {
  width: 79.66px;
  height: 42.02px;
  fill: #AFB1B8;
}

.button-client:hover .button-icon-four {
  fill: var(--accent-color);
}

.button-icon-five {
  width: 59px;
height: 47px;
fill: #AFB1B8;
}

.button-client:hover .button-icon-five {
  fill: var(--accent-color);
  
}

.button-icon-six {
  width: 88.48px;
  height: 45.44px;
  fill: #AFB1B8;
}

.button-client:hover .button-icon-six {
  fill: var(--accent-color);
  
}
.join {
  margin-left: 69px;
  margin-right: 94px;
  margin-top: 56px;
  margin-bottom: 56px;
  color: var(--white-color);
}
.subscribe .white {
  color: white;
}
.nav-center {
  justify-content: center;
}

.header-margin {
  margin-bottom: 94px;
}

.m-n {
  margin-right: 8px;
}
.white {
  color: var(--white-color);
}

.antenna {
  display: inline-block;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;
  border-style: none;
  background-color: #F5F4FA;
  background-image: url(../img/vector/antenna\ 1.svg);
  background-size: 65.32px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.clock {
  display: inline-block;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  border-style: none;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../img/vector/clock\ 1.svg);
  background-size: 66.96px 70px;

  background-repeat: no-repeat;
  background-position: center;
}

.diagram {
  display: inline-block;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  border-style: none;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../img/vector/diagram\ 1.svg);
  background-size: 70px 53.69px;
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut {
  display: inline-block;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  border-style: none;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../img/vector/astronaut.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--white-color);
  cursor: pointer;
  margin-bottom: 24px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8 ;
}

.social-footer {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border-style: none;
  padding: 0;
  margin: 0;
  background-color:rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-bottom: 24px;
}

.social-footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.social:hover{
background-color: var(--accent-color);
}
.social:hover .social-icon {
fill: white;
}

.social-footer:hover {
background-color:  var(--accent-color);
}